mixed-port: 7890
allow-lan: false
mode: rule
log-level: info

tun:
  enable: true
  stack: mixed
  auto-route: true
  auto-detect-interface: true
  route-exclude-address:
    - "@@VPS_IP@@/32"

proxies:
  - name: Reality-node
    type: vless
    server: "@@VPS_IP@@"
    port: @@REALITY_PORT@@
    uuid: "@@UUID@@"
    network: tcp
    tls: true
    udp: true
    flow: xtls-rprx-vision
    servername: "@@SERVER_NAME@@"
    client-fingerprint: chrome
    reality-opts:
      public-key: "@@REALITY_PUBLIC_KEY@@"
      short-id: "@@SHORT_ID@@"

proxy-groups:
  - name: GLOBAL
    type: select
    proxies: [Reality-node, PROXY]
  - name: PROXY
    type: select
    proxies: [Reality-node, DIRECT]

rules:
  - "IP-CIDR,@@VPS_IP@@/32,DIRECT,no-resolve"
  - MATCH,PROXY
